body {
  margin: 0px;
  font-family: 'fire Sans', Arial, sans-serif;
  color: #141414;
}

h1, h2, h3, p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 140px;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 5ch;  /*significa 4 caracteries 
  'letras' */
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 48px;
    text-transform: capitalize;
    max-width: initial !important;
  }
}

